<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description %>"/>
    <title><%= title %></title>
    <link rel="icon" href="<%= pathTo("favicon.ico") %>" />
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="<%= pathTo("app.css") %>" rel="stylesheet">
  </head>
  <body>
    <header>
      <h2 id="siteheadline"><span id="sitelogo">¶</span><a href="<%= pathTo("/") %>">Charlie Harrington</a></h2>
      <div id="topnav">
        <a href="<%= pathTo("about") %>">About</a>
        <span>•</span>
        <a href="<%= pathTo("library") %>">Library</a>
        <span>•</span>
        <a href="<%= pathTo("rss.xml") %>">RSS</a>
      </div>
    </header>
    <div id="contents">
      <%if (title !== "About" && title !== "Charlie Harrington" && title !== "Library" && title !== "Books" && title !== "Walkingman") { %>
        <h1 class="title"><%= title %></h1>
        <h3 class="subtitle"><%= date %></h3>
        <div class="borderLine"></div>
      <% } %>
      <%- body %>
    </div>
    <footer>
      <div>
        <form
          action="https://tinyletter.com/whatrocks"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://tinyletter.com/whatrocks', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
        >
        <input
            class="subscribeInput"
            type="text"
            placeholder="Get updates on my writing"
            name="email"
            id="tlemail"
          />
          <input type="hidden" value="1" name="embed" />
          <input class="subscribeButton" type="submit" value="Update Me 👋" />
        </form>
        <p class="warning">
          The almost-never newsletter. I won't spam you, and you can unsubscribe
          anytime.
        </p>
        <div class="copyright">
          <span>© 2022 Charlie Harrington</span>
          <span> | </span>
          <span>
            <a
              href="https://www.charlieharrington.com/rss.xml"
              target="_blank"
              rel="noopener noreferrer"
            >
              RSS feed
            </a>
          </span>
          <span> | </span>
          <span>
            <a
              href="https://www.twitter.com/whatrocks"
              target="_blank"
              rel="noopener noreferrer"
            >
              Follow @whatrocks on Twitter
            </a>
          </span>
        </div>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
